#map {
    grid-column: 2 / -1;
    grid-row: 2 / -1;
    z-index: 1;
}
#bar {
    grid-column: 2 / -1;
    grid-row: 1 / 2;
}
#heat {
    grid-column: 1 / 2;
    grid-row: 2 / -1;
    z-index: 2;
}
#pie {
    grid-column: 1/2;
    grid-row: 1/2;
}

.label {
    font-weight: bold; 
    font-size: 1.2em;   
}

.tooltip {
    position: absolute;
    background-color: white;
    border: solid;
    border-width: 2px;
    border-radius: 5px;
    padding: 5px;
}

/* .highlight {
    stroke: #0000;
    stroke-width: 5;
}

.select {
    stroke: #0000;
    stroke-width: 3;
}

.deselect {
    stroke: #0000;
    stroke-width: 1;
} */

.wrapper {
    width: 100vw;
    height: 100%;
    display: grid;
    grid-template-rows: 30% 70%;
    grid-template-columns: 20% 80%;
}

body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: arial;
}